
body {
    font-family: arial, sans-serif;
    font-size: 100%;
    color: #fff;
}

h2, p {
    font-size: 100%;
    font-weight: normal;
}


ul.sticky {
    overflow: hidden;
    padding: 3em;
    text-align: center;
}

ul.sticky li {
    margin: 1em;
    float: left;
}

ul.sticky li h2 {
    font-size: 200%;
    font-weight: bold;
    padding-bottom: 10px;
}

ul.sticky li p {
    font-family: "Reenie Beanie", arial, sans-serif;
    font-size: 300%;
}


ul.sticky li:nth-child(even) a{
  -o-transform:rotate(4deg);
  -webkit-transform:rotate(4deg);
  -moz-transform:rotate(4deg);
  position:relative;
  top:5px;
  background:#cfc;
}
ul.sticky li:nth-child(3n) a{
  -o-transform:rotate(-3deg);
  -webkit-transform:rotate(-3deg);
  -moz-transform:rotate(-3deg);
  position:relative;
  top:-5px;
  background:#ccf;
}


ul.sticky li:nth-child(5n) a{
  -o-transform:rotate(5deg);
  -webkit-transform:rotate(5deg);
  -moz-transform:rotate(5deg);
  position:relative;
  top:-10px;
}

ul.sticky li a:hover,ul li a:focus{
  -moz-box-shadow:10px 10px 7px rgba(0,0,0,.7);
  -webkit-box-shadow: 10px 10px 7px rgba(0,0,0,.7);
  box-shadow:10px 10px 7px rgba(0,0,0,.7);
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -o-transform: scale(1.25);
  position:relative;
  z-index:5;
}


ul.sticky li a{
  text-decoration:none;
  color:#000;
  background:#ffc;
  display:block;
  height:15em;
  width:15em;
  padding:1em;
  -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
  -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  -moz-transition:-moz-transform .15s linear;
  -o-transition:-o-transform .15s linear;
  -webkit-transition:-webkit-transform .15s linear;
}

nav.navbar-custom {
    background: #969590;
}

ul.nav-custom {
    float: right;
}

img {
    width: 100px;
    height: 100px;
    margin-top: -45px;
    margin-left: -30px;
    margin-bottom: -15px;
    padding: 0px
}

a.dropdown-custom{
    color: black;
}

div.dropdown-custom{

}

.navbar-default{
    background-color: #1b6d85;
}

input[type=text] {
    width: 100%;
    padding: 6px 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 10px;
}

input[type=submit] {
    padding:5px 15px;
    background:#ccc;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

#add_board {
    text-align: center;
}

#add_board h2 {
    color: blue;
    line-height: 150%;
}

button {
    padding:5px 10px;
    background:#ccc;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin: 2px;
}

.update {
    background-color: chartreuse;
}

.remove {
    background-color: #ea2f10;
}

.cards {
    background-color: yellow;
}

.back {
    background-color: #1b6d85;
}