#add_board {
    width: 300px;
    height: 200px;
    background-color: lightskyblue;
}

#add_board:hover {
    background-color: aqua;
}

.boards {
    width: 300px;
    height: 200px;
    background-color: lightskyblue;
}

.boards:hover {
    background-color: aqua;
}