{% extends "layout.html" %} {% block header %}
    <script type="text/javascript" src="{{ url_for('static', filename='list_boards.js') }}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock %} {% block content %}

    <body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header text-center">
                <a class="navbar-brand" href="#">Proman</a>
            </div>
        </div>
    </nav>

    <ul>
        <li>
            <a href="#">
                <h2>BOARD</h2>
                <p>Codecool</p>
            </a>
        </li>
        <li>
            <a href="#">
                <h2>Title #2</h2>
                <p>Text Content #2</p>
            </a>
        </li>
    </ul>
    <button onclick="listBoards()">push it</button>
    <div id="boards">test</div>
    </body>

{% endblock %}